/* WRAPPERS */
	body {
		margin: 0;
		box-sizing: border-box;

	}


	#container {
		background: #F2F2F2;
		
	}

	#container:after, #main:after{
		content: "";
		display: table;
		clear: both;
	}


/* MAIN CONTENT AREA */

#main-section {
	
	width: 75%;
	background: #E3E2E2;
	float: left;
	margin-top: 12px;
	
	}
	

	
main {
	float: right;
	width:65%;
}	
	
main h1 {
	height: 55px;
	background: #848484;
	
}	

main article {
	height: 350px;
	background: #A8A3A3;
	
}
	/* ASIDE INSIDE MAIN CONTENT */


#main-section-side {
	float: left;
	width:33%;
	background: #B9B6B6;
	margin-right: 15px;
	margin-top: 12px;
	height: 600px;
	
}

#main-section-side  aside {
	float: left;
	width: 45%;
	background: #DFDCDC;
	
}

#main-section-side  aside p {
height: 72px;
margin: 10px 5px;
border: 1px solid black;
	
}	

#main-section-side  #cat {
	float: right;
	width: 45%;
	background: #E3E2E2;
	
	
}

#cat section {
	
height: 126px;	
	
}
	
	
/* SIDE BAR */

#side-bar {
	width: 25%;
	background: #F2F2F2;
	float: right;
}


.side-compp {
	
	height: 250px;
}

.main-comp {
	
	height: 450px;
}